flask
Flask-FlatPages
Frozen-Flask
Jinja2
Markdown
MarkupSafe
PyYAML
Pygments
Werkzeug
itsdangerous
gunicorn
peewee
micawber
beautifulsoup4

# TODO: Blog install using https://github.com/coleifer/peewee/blob/master/examples/blog/app.py