beautifulsoup4
Click
Flask
Flask-FlatPages
Frozen-Flask
gunicorn
itsdangerous
ipywidgets
Jinja2
Markdown
MarkupSafe
micawber
mongoengine
nbinteract
numpy
pandas
peewee
Pygments
PyYAML
setuptools
soupsieve
Werkzeug
Flask-SimpleMDE
