<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/grayscale.min.css" rel="stylesheet">

    {% block additional_css %}{% endblock %}
</head>

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Luke Willey</a>
        <div class="social d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/luke-willey/" target=_blank class="mx-2">
                <i class="fab fa-linkedin js-scroll-trigger"></i>
            </a>
            <a href="https://github.com/hansolo580" target=_blank class="mx-2">
                <i class="fab fa-github js-scroll-trigger"></i>
            </a>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/utilities">Utilities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/#signup">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/blog">Blog</a>
                </li>
                {% block extra_header %}{% endblock %}
                {% if session.logged_in %}
                    <li>
                        <a class="nav-link js-scroll-trigger" href="{{url_for('blog.logout')}}" method="post">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="main-content">
    {% block main_content %}{% endblock %}
</div>

<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
    <div class="container">
        Copyright &copy; Luke Willey
        <script>document.write(new Date().getFullYear())</script>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/static/js/grayscale.min.js"></script>

{% block additional_js %}{% endblock %}

</body>

</html>
